html {
    padding-bottom: 2000px;
}

.teste {
    background-color: aqua;
    border: 2px solid blue;
    position: relative;
    height: 40px;
    top: 120px;
}
.teste2 {
    /* border: 2px solid blue; */
    background-color: rgb(86, 30, 30);
    height: 40px;
    width: auto;
    position: relative;

}

.teste3 {
    background-color: rgb(250, 3, 3);
    height: 40px;
    width: 10;
    position: absolute;
    bottom: 0px;
    left: 25px;
}

