img {
    display: block;
    width: 100%;
    height: 70%;
    object-fit: inherit;
    object-position: inherit;
    border-radius: 10px 10px 0px 0px;
    overflow: clip;
}

.ptxt {
    height: 40px;
    width: auto;
    position: absolute;
    left: 10px;
    top: 215px;
}

.titulo {
    font-weight: 600;
    font-size: 17px;
    box-sizing: border-box;
}

.descricao {
    font-weight: 450;
    font-size: 15px;
    box-sizing: border-box;
}

.preco {
    position: absolute;
    bottom: -55px;
    font-weight: 600;
    font-size: 15px;
    box-sizing: border-box;
}

.corpo {
    background-color: whitesmoke;
    border-bottom: 2px solid blue;
    position: relative;
    height: 3700px;
    top: 119px;
}

.subcabecalho {
    background-color: rgb(0, 0, 0);
    height: 60px;
    width: 100%;
    position: fixed;
    border-radius: 15px 15px 0px 0px;
}

.subtitulo {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 17px;
    box-sizing: border-box;
    top: 18px;
    left: 60px;
    position: absolute;

}

.selitem {
    background-color: whitesmoke;
    height: 620px;
    width: 1100px;
    z-index: 102;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Para centralizar o elemento */
    border-radius: 15px;
  }
  
.selclose {
    color: rgb(255, 255, 255);
    height: 32px;
    width: 32px;
    position: absolute;
    top: 15px;
    left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px 10px 10px 10px;
}

.selclose:hover {
    background-color: rgb(33, 32, 32);   
}

.selcont {
    height: 80%;
    width: 50%;
    background-color: rgb(240, 240, 240);
    position: fixed;
    top: 60px;  
}

.selcontd {
    height: 80%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 60px;
    right: 0px;  
}

/* Estilizando a checkbox para torná-la redonda */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #dedede;
    outline: none;
    cursor: pointer;
    position: relative;
  }
  
  /* Adicionando um estilo diferente quando a checkbox está marcada */
  input[type="checkbox"]:checked {
    background-color: #efefef;
    border-color: #000000;
  }
  
  /* Criando o círculo interno */
  input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px; /* Ajuste o tamanho do círculo interno conforme necessário */
    height: 10px; /* Ajuste o tamanho do círculo interno conforme necessário */
    border-radius: 50%;
    background-color: #000000; /* Cor do círculo interno */
    display: none; /* Inicialmente, oculte o círculo interno */
  }
  
  /* Exibindo o círculo interno quando a checkbox está marcada */
  input[type="checkbox"]:checked::before {
    display: block;
  }

  .item2 {
    top: 40px;
    left: 0px;
    position: absolute;
  }

.obs {
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    left: 28px;
    bottom: 180px;
    display: flex;
    align-items: center;
}

.camposobs{
    /* text-align:initial; */
    left: 30px;
    bottom: 110px;
    height: 50px;
    width: 470px; 
    position: absolute;
}

.selimg {
    border-radius: 0px;
    display: block;
    width: 500px;
    height: 50%;
    object-fit: inherit;
    object-position: inherit;
    overflow: clip;
    top: 20px;
    left: 24px;
    position: absolute;
}

.selrodape {
    height: 100px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    bottom: 0px;  
}

.valorrod {
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 40%;
    left: 30px;
    font-weight: 600;
    font-size: 25px;
    box-sizing: border-box;
}

.negvalor {
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 35%;
    left: 170px;
    font-weight: 600;
    font-size: 35px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px 10px 10px 10px;
}

.negvalor:hover{
    background-color: rgb(35, 35, 35);
}

.contvalor {
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 40%;
    left: 200px;
    font-weight: 600;
    font-size: 25px;
    box-sizing: border-box;
}

.posvalor {
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 35%;
    left: 225px;
    font-weight: 600;
    font-size: 35px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px 10px 10px 10px;
}

.posvalor:hover{
    background-color: rgb(35, 35, 35);
}

.adcarrinho {
    color: rgb(255, 255, 255);
    height: 35px;
    width: 240px;
    text-align: center;
    border: 2px solid rgb(21, 21, 21);
    position: absolute;
    bottom: 35%;
    right: 25px;
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: border 0.5s;
    border-radius: 10px 10px 10px 10px;
}

.adcarrinho:hover{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(16, 16, 16);
}
/* --------------------Promoções-------------------- */

.TP {
    height: 30px;
    width: auto;
    position: absolute;
    font-weight: 490;
    font-size: 26px;
    left: 40px;
    top: 0px;
    font-family: 'Nunito', sans-serif;
}

.promo1 {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 35px;
    top: 78px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.promo1:hover{
    border: 2px solid rgb(255, 116, 116);
}

.promo2 {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 320px;
    top: 78px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.promo2:hover{
    border: 2px solid  rgb(255, 116, 116);
}

.promo3 {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 600px;
    top: 78px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.promo3:hover{
    border: 2px solid  rgb(255, 116, 116);
}

.promo4 {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 880px;
    top: 78px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.promo4:hover{
    border: 2px solid  rgb(255, 116, 116);
}

/* --------------------Massas-------------------- */

.TM {
    height: 30px;
    width: auto;
    position: absolute;
    font-weight: 490;
    font-size: 26px;
    left: 40px;
    top: 430px;
    font-family: 'Nunito', sans-serif;
}

.massa1 {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 35px;
    top: 510px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.massa1:hover{
    border: 2px solid  rgb(255, 116, 116);
}

.massa2 {
    background-color: whitesmoke;
     border: 2px solid rgb(238, 238, 238);
     height: 310px;
     width: 240px;
     position: absolute;
     left: 35px;
     top: 840px;
     border-radius: 10px 10px 10px 10px;
     cursor: pointer;
     transition: border 0.3s;
 }
 
 .massa2:hover{
     border: 2px solid  rgb(255, 116, 116);
 }

 /* --------------------Marmitex-------------------- */

 .TMTX {
    height: 30px;
    width: auto;
    position: absolute;
    font-weight: 490;
    font-size: 26px;
    left: 40px;
    top: 1200px;
    font-family: 'Nunito', sans-serif;
}

.marmitaM {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 35px;
    top: 1285px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.marmitaM:hover{
    border: 2px solid  rgb(255, 116, 116);
}

.marmitaN {
    background-color: whitesmoke;
     border: 2px solid rgb(238, 238, 238);
     height: 310px;
     width: 240px;
     position: absolute;
     left: 320px;
     top: 1285px;
     border-radius: 10px 10px 10px 10px;
     cursor: pointer;
     transition: border 0.3s;
 }
 
 .marmitaN:hover{
     border: 2px solid  rgb(255, 116, 116);
 }

 .marmitaE {
    background-color: whitesmoke;
     border: 2px solid rgb(238, 238, 238);
     height: 310px;
     width: 240px;
     position: absolute;
     left: 600px;
     top: 1285px;
     border-radius: 10px 10px 10px 10px;
     cursor: pointer;
     transition: border 0.3s;
 }
 
 .marmitaE:hover{
     border: 2px solid  rgb(255, 116, 116);
 }

 .marmitaMist {
    background-color: whitesmoke;
     border: 2px solid rgb(238, 238, 238);
     height: 310px;
     width: 240px;
     position: absolute;
     left: 880px;
     top: 1285px;
     border-radius: 10px 10px 10px 10px;
     cursor: pointer;
     transition: border 0.3s;
 }
 
 .marmitaMist:hover{
     border: 2px solid  rgb(255, 116, 116);
 }

 /* --------------------Marmitex-------------------- */

 .TMSP {
    height: 30px;
    width: auto;
    position: absolute;
    font-weight: 490;
    font-size: 26px;
    left: 40px;
    top: 1670px;
    font-family: 'Nunito', sans-serif;
}

.msp1 {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 35px;
    top: 1760px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.msp1:hover{
    border: 2px solid  rgb(255, 116, 116);
}

.msp2 {
    background-color: whitesmoke;
     border: 2px solid rgb(238, 238, 238);
     height: 310px;
     width: 240px;
     position: absolute;
     left: 320px;
     top: 1760px;
     border-radius: 10px 10px 10px 10px;
     cursor: pointer;
     transition: border 0.3s;
 }
 
 .msp2:hover{
     border: 2px solid  rgb(255, 116, 116);
 }

 /* --------------------Sobremesas-------------------- */

 .TS {
    height: 30px;
    width: auto;
    position: absolute;
    font-weight: 490;
    font-size: 26px;
    left: 40px;
    top: 2130px;
    font-family: 'Nunito', sans-serif;
}

.sobremesa1 {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 35px;
    top: 2220px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.sobremesa1:hover{
    border: 2px solid  rgb(255, 116, 116);
}

.sobremesa2 {
    background-color: whitesmoke;
     border: 2px solid rgb(238, 238, 238);
     height: 310px;
     width: 240px;
     position: absolute;
     left: 320px;
     top: 2220px;
     border-radius: 10px 10px 10px 10px;
     cursor: pointer;
     transition: border 0.3s;
 }
 
 .sobremesa2:hover{
     border: 2px solid  rgb(255, 116, 116);
 }

 /* --------------------Bebidas-------------------- */

 .TB {
    height: 30px;
    width: auto;
    position: absolute;
    font-weight: 490;
    font-size: 26px;
    left: 40px;
    top: 2600px;
    font-family: 'Nunito', sans-serif;
}

.bebida1 {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 35px;
    top: 2690px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.bebida1:hover{
    border: 2px solid  rgb(255, 116, 116);
}

.bebida2 {
    background-color: whitesmoke;
     border: 2px solid rgb(238, 238, 238);
     height: 310px;
     width: 240px;
     position: absolute;
     left: 320px;
     top: 2690px;
     border-radius: 10px 10px 10px 10px;
     cursor: pointer;
     transition: border 0.3s;
 }
 
 .bebida2:hover{
     border: 2px solid  rgb(255, 116, 116);
 }

 .bebida3 {
    background-color: whitesmoke;
     border: 2px solid rgb(238, 238, 238);
     height: 310px;
     width: 240px;
     position: absolute;
     left: 600px;
     top: 2690px;
     border-radius: 10px 10px 10px 10px;
     cursor: pointer;
     transition: border 0.3s;
 }
 
 .bebida3:hover{
     border: 2px solid  rgb(255, 116, 116);
 }

 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Cor escura com opacidade */
    z-index: 101; /* Coloque acima da div principal */
  }
  
  .overlay.visivel {
    display: block;
  }

  .noscroll {
    overflow: hidden;
  }