img {
    display: block;
    width: 100%;
    height: 70%;
    object-fit: inherit;
    object-position: inherit;
    border-radius: 10px 10px 0px 0px;
    overflow: clip;
}

.ptxt {
    height: 40px;
    width: auto;
    position: absolute;
    left: 10px;
    top: 215px;
}

.titulo {
    font-weight: 600;
    font-size: 17px;
    box-sizing: border-box;
}

.descricao {
    font-weight: 450;
    font-size: 15px;
    box-sizing: border-box;
}

.preco {
    position: absolute;
    bottom: -55px;
    font-weight: 600;
    font-size: 15px;
    box-sizing: border-box;
}

.corpo {
   background-color: whitesmoke;
    border-bottom: 2px solid blue;
    position: relative;
    height: 3700px;
    top: 119px;
}

/* --------------------Promoções-------------------- */

.TP {
    height: 30px;
    width: auto;
    position: absolute;
    font-weight: 490;
    font-size: 26px;
    left: 40px;
    top: 0px;
    font-family: 'Nunito', sans-serif;
}

.promo1 {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 35px;
    top: 78px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.promo1:hover{
    border: 2px solid rgb(255, 116, 116);
}

.promo2 {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 320px;
    top: 78px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.promo2:hover{
    border: 2px solid  rgb(255, 116, 116);
}

.promo3 {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 600px;
    top: 78px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.promo3:hover{
    border: 2px solid  rgb(255, 116, 116);
}

.promo4 {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 880px;
    top: 78px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.promo4:hover{
    border: 2px solid  rgb(255, 116, 116);
}

/* --------------------Massas-------------------- */

.TM {
    height: 30px;
    width: auto;
    position: absolute;
    font-weight: 490;
    font-size: 26px;
    left: 40px;
    top: 430px;
    font-family: 'Nunito', sans-serif;
}

.massa1 {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 35px;
    top: 510px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.massa1:hover{
    border: 2px solid  rgb(255, 116, 116);
}

.selmassa {
    background-color: whitesmoke;
    border: 2px solid lightblue;
    height: 620px;
    width: 1100px;
    z-index: 102;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Para centralizar o elemento */
    border-radius: 15px;
  }
  

.massa2 {
    background-color: whitesmoke;
     border: 2px solid rgb(238, 238, 238);
     height: 310px;
     width: 240px;
     position: absolute;
     left: 35px;
     top: 840px;
     border-radius: 10px 10px 10px 10px;
     cursor: pointer;
     transition: border 0.3s;
 }
 
 .massa2:hover{
     border: 2px solid  rgb(255, 116, 116);
 }

 /* --------------------Marmitex-------------------- */

 .TMTX {
    height: 30px;
    width: auto;
    position: absolute;
    font-weight: 490;
    font-size: 26px;
    left: 40px;
    top: 1200px;
    font-family: 'Nunito', sans-serif;
}

.marmitaM {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 35px;
    top: 1285px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.marmitaM:hover{
    border: 2px solid  rgb(255, 116, 116);
}

.marmitaN {
    background-color: whitesmoke;
     border: 2px solid rgb(238, 238, 238);
     height: 310px;
     width: 240px;
     position: absolute;
     left: 320px;
     top: 1285px;
     border-radius: 10px 10px 10px 10px;
     cursor: pointer;
     transition: border 0.3s;
 }
 
 .marmitaN:hover{
     border: 2px solid  rgb(255, 116, 116);
 }

 .marmitaE {
    background-color: whitesmoke;
     border: 2px solid rgb(238, 238, 238);
     height: 310px;
     width: 240px;
     position: absolute;
     left: 600px;
     top: 1285px;
     border-radius: 10px 10px 10px 10px;
     cursor: pointer;
     transition: border 0.3s;
 }
 
 .marmitaE:hover{
     border: 2px solid  rgb(255, 116, 116);
 }

 .marmitaMist {
    background-color: whitesmoke;
     border: 2px solid rgb(238, 238, 238);
     height: 310px;
     width: 240px;
     position: absolute;
     left: 880px;
     top: 1285px;
     border-radius: 10px 10px 10px 10px;
     cursor: pointer;
     transition: border 0.3s;
 }
 
 .marmitaMist:hover{
     border: 2px solid  rgb(255, 116, 116);
 }

 /* --------------------Marmitex-------------------- */

 .TMSP {
    height: 30px;
    width: auto;
    position: absolute;
    font-weight: 490;
    font-size: 26px;
    left: 40px;
    top: 1670px;
    font-family: 'Nunito', sans-serif;
}

.msp1 {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 35px;
    top: 1760px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.msp1:hover{
    border: 2px solid  rgb(255, 116, 116);
}

.msp2 {
    background-color: whitesmoke;
     border: 2px solid rgb(238, 238, 238);
     height: 310px;
     width: 240px;
     position: absolute;
     left: 320px;
     top: 1760px;
     border-radius: 10px 10px 10px 10px;
     cursor: pointer;
     transition: border 0.3s;
 }
 
 .msp2:hover{
     border: 2px solid  rgb(255, 116, 116);
 }

 /* --------------------Sobremesas-------------------- */

 .TS {
    height: 30px;
    width: auto;
    position: absolute;
    font-weight: 490;
    font-size: 26px;
    left: 40px;
    top: 2130px;
    font-family: 'Nunito', sans-serif;
}

.sobremesa1 {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 35px;
    top: 2220px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.sobremesa1:hover{
    border: 2px solid  rgb(255, 116, 116);
}

.sobremesa2 {
    background-color: whitesmoke;
     border: 2px solid rgb(238, 238, 238);
     height: 310px;
     width: 240px;
     position: absolute;
     left: 320px;
     top: 2220px;
     border-radius: 10px 10px 10px 10px;
     cursor: pointer;
     transition: border 0.3s;
 }
 
 .sobremesa2:hover{
     border: 2px solid  rgb(255, 116, 116);
 }

 /* --------------------Bebidas-------------------- */

 .TB {
    height: 30px;
    width: auto;
    position: absolute;
    font-weight: 490;
    font-size: 26px;
    left: 40px;
    top: 2600px;
    font-family: 'Nunito', sans-serif;
}

.bebida1 {
   background-color: whitesmoke;
    border: 2px solid rgb(238, 238, 238);
    height: 310px;
    width: 240px;
    position: absolute;
    left: 35px;
    top: 2690px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.bebida1:hover{
    border: 2px solid  rgb(255, 116, 116);
}

.bebida2 {
    background-color: whitesmoke;
     border: 2px solid rgb(238, 238, 238);
     height: 310px;
     width: 240px;
     position: absolute;
     left: 320px;
     top: 2690px;
     border-radius: 10px 10px 10px 10px;
     cursor: pointer;
     transition: border 0.3s;
 }
 
 .bebida2:hover{
     border: 2px solid  rgb(255, 116, 116);
 }

 .bebida3 {
    background-color: whitesmoke;
     border: 2px solid rgb(238, 238, 238);
     height: 310px;
     width: 240px;
     position: absolute;
     left: 600px;
     top: 2690px;
     border-radius: 10px 10px 10px 10px;
     cursor: pointer;
     transition: border 0.3s;
 }
 
 .bebida3:hover{
     border: 2px solid  rgb(255, 116, 116);
 }

 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Cor escura com opacidade */
    z-index: 101; /* Coloque acima da div principal */
    cursor: pointer;
  }
  
  .overlay.visivel {
    display: block;
  }

  .noscroll {
    overflow: hidden;
  }